<h3>Ini hanya digunakan untuk test preprocess.py dan market_basket.py Aplikasi akhir akan tetap dikerjakan dengan streamlit/web lainnya</h3>

In [1]:
# Test Preprocessing

from preprocess import full_preprocessing

df, basket_df, customer_df = full_preprocessing("Dataset/Retail_Transactions_Dataset.csv")

print("=== CLEANED DATAFRAME ===")
display(df.head())

print("=== BASKET DATAFRAME (One-Hot) ===")
display(basket_df.head())

print("=== CUSTOMER AGGREGATES ===")
display(customer_df.head())

print("Rows:", len(df))
print("Basket rows:", len(basket_df))

=== CLEANED DATAFRAME ===

,Transaction_ID,Date,Customer_Name,Product,Total_Items,Total_Cost,Payment_Method,City,Store_Type,Discount_Applied,Customer_Category,Season,Promotion,Year,Month,Day,Weekday,Hour
0,1000000000,2022-01-21 06:27:29,Stacey Price,"[Ketchup, Shaving Cream, Light Bulbs]",3,71.65,Mobile Payment,Los Angeles,Warehouse Club,True,Homemaker,Winter,Unknown,2022,1,21,4,6
1,1000000001,2023-03-01 13:01:21,Michelle Carlson,"[Ice Cream, Milk, Olive Oil, Bread, Potatoes]",2,25.93,Cash,San Francisco,Specialty Store,True,Professional,Fall,BOGO (Buy One Get One),2023,3,1,2,13
2,1000000002,2024-03-21 15:37:04,Lisa Graves,[Spinach],6,41.49,Credit Card,Houston,Department Store,True,Professional,Winter,Unknown,2024,3,21,3,15
3,1000000003,2020-10-31 09:59:47,Mrs. Patricia May,"[Tissues, Mustard]",1,39.34,Mobile Payment,Chicago,Pharmacy,True,Homemaker,Spring,Unknown,2020,10,31,5,9
4,1000000004,2020-12-10 00:59:59,Susan Mitchell,[Dish Soap],10,16.42,Debit Card,Houston,Specialty Store,False,Young Adult,Winter,Discount on Selected Items,2020,12,10,3,0

=== BASKET DATAFRAME (One-Hot) ===

,Air Freshener,Apple,BBQ Sauce,Baby Wipes,Banana,Bath Towels,Beef,Bread,Broom,Butter,...,Tomatoes,Toothbrush,Toothpaste,Trash Bags,Trash Cans,Tuna,Vacuum Cleaner,Vinegar,Water,Yogurt
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

=== CUSTOMER AGGREGATES ===

,Customer_Name,Total_Spend,Avg_Spend,Total_Items,Avg_Items,Discount_Rate,Transaction_Count
0,Aaron Acevedo,279.85,69.962500,13,3.250000,0.500000,4
1,Aaron Acosta,215.32,71.773333,13,4.333333,0.666667,3
2,Aaron Adams,772.36,64.363333,77,6.416667,0.333333,12
3,Aaron Adkins,118.52,39.506667,11,3.666667,0.000000,3
4,Aaron Aguilar,236.76,47.352000,32,6.400000,0.200000,5

Rows: 1000000
Basket rows: 1000000

In [2]:
# Test Market Basket Engine

from market_basket import (
    generate_frequent_itemsets,
    generate_rules,
    get_rules_for_product,
    generate_context_rules
)

# Step 1: Frequent Itemsets
itemsets = generate_frequent_itemsets(basket_df, min_support=0.01)
print("=== FREQUENT ITEMSETS ===")
display(itemsets.head())

# Step 2: Rules
rules = generate_rules(itemsets, metric="lift", min_threshold=1.0)
print("=== ASSOCIATION RULES ===")
display(rules.head())

# Step 3: Product-specific rules
print("=== RULES FOR PRODUCT: 'Milk' ===")
milk_rules = get_rules_for_product(rules, "Milk")
display(milk_rules.head())

# Step 4: Context-Aware Rules Example
winter_rules = generate_context_rules(df, {"Season": "Winter"}, min_support=0.01)
print("=== WINTER CONTEXT RULES ===")
display(winter_rules.head())

=== FREQUENT ITEMSETS ===

    support         itemsets  itemset_length
0  0.036090  (Shaving Cream)               1
1  0.036064    (Light Bulbs)               1
2  0.035872        (Ketchup)               1
3  0.036485      (Ice Cream)               1
4  0.036133           (Milk)               1

=== ASSOCIATION RULES ===

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, representativity, leverage, conviction, zhangs_metric, jaccard, certainty, kulczynski]
Index: []

=== RULES FOR PRODUCT: 'Milk' ===

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, representativity, leverage, conviction, zhangs_metric, jaccard, certainty, kulczynski]
Index: []

=== WINTER CONTEXT RULES ===

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, representativity, leverage, conviction, zhangs_metric, jaccard, certainty, kulczynski]
Index: []